@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

input::placeholder {
  @apply text-gray-400;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
